/* In your CSS file */
.Modal {
  background: white;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  margin-top: 7em;
  border-radius: 8px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
